.deck {
    align-content: center;
    width: 750px;
    margin-left: 5px;

}

#two {
    background-color: grey;
    border-color: blue;
    border-style: solid;
    width: 900px; 
    height: 700px;
    overflow-x: hidden; 
    /* overflow-x: auto; */
} 

