.deck {
    align-content: center;
    padding: 4px;
    width: 750px;
    margin-left: 5px;
}

.card.card-body {
    height: 100px;
}

#two {
    background-color: grey;
    border-color: blue;
    border-style: solid;
    /* position: relative; */
    width: 800px; 
    height: 700px;
    
    margin-left: 5px;
    overflow-x: hidden; 
    overflow-x: auto;
} 