img{
    width: 10px;
    height: 130px;
}

.card-footer {
    background-color: white;
}

.card-body {
    background-color: white;
    padding: 0;
}

.card-text{
    /* line-height: 1.6; */
    /* font-size:5vw; */
}
